1. Firma
Includeți cel puțin următoarele elemente:
Date de identificare:
Denumirea: {{ date_generale['Denumirea firmei'] }}

Forma de organizare:
Societate cu Răspundere Limitată organizată în baza Legii 346/2004 privind stimularea înființării și dezvoltării IMM.

Cod de identificare fiscală/ Cod Unic de Înregistrare:
{{ date_generale['Codul unic de înregistrare (CUI)'] }}

Număr de înmatriculare la Oficiul Registrului Comerțului:
{{ date_generale['Numărul de ordine în Registrul Comerțului'] }}

Data înființării:
{{ date_generale['Data înființării'] }}

Adresa sediului principal și a sediilor secundare, sucursale, filiale:
{{ date_generale['Adresa sediului social'] }}
{% for adresa in date_generale['Adresa sediul secundar'] %}
- {{ adresa }}
{% endfor %}

Asociați/acționari și cote de participare deținute, reprezentanți legali, administratori, directori generali:
{% for asociat in date_detaliat['Asociați'] %}
- {{ asociat }}
{% endfor %}
Administratori: {{ ''.join(date_detaliat['Administratori']) }}

[Restul conținutului template-ului, adaptat conform structurii datelor tale]


{% if date_generale['Data înființării'] == "10.08.2012" %}
TRALALALALALLALLALALA
TARARALRALRLALRALR
LRARALRLARLARLA
RLARLALRALRLARLRA
{% elif date_generale['Data înființării'] == "10.08.2013" %}
Obiectivul general al proiectului „Dezvoltare durabilă la nivelul {{ firma_nume }}” va fi transpus în practică prin:
• Creșterea competitivității economice, prin achiziționarea a {{ nr_utilaje }} noi utilaje tehnologice;
• Menținerea standardelor de calitate, conform cu cerințele clienților.
Obiectivul general al proiectului este în deplină concordanță cu obiectivul general al Programului Tranziție Justă, participând la realizarea tranziției la neutralitate climatică la nivelul județului {{ judet }}.
{% else %}
... conținut generic pentru alte județe ...   .. conținut generic pentru alte județe ...
... conținut generic pentru alte județe ...   .. conținut generic pentru alte județe ...
{% endif %}
